<h1>Profils#show</h1>
<p>Find me in app/views/profils/show.html.erb</p>

prénom: <%= @profils.first_name %><br>
nom: <%= @profils.last_name %><br>
description: <%= @profils.description %>><br>
email: <%= @profils.email %><br>
age: <%= @profils.age %><br>
ville: <%= @profils.city.name%><br>

